.chat {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
  background-attachment: fixed;
  background-image: url(/styles/assets/img/chat_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &__feed {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: visible;
  }

  &__break-line {
    border: none;
    background-color: white;
    color: white;
    height: 1px;
    margin: 0;
  }

  &__new-message {
    height: 20%;
    min-height: 220px;
    margin: 15px 20px 20px 20px;

    &__input {
      resize: none;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      padding: 10px;
      height: 107px;
      width: calc(100% - 40px);
      border: 1px solid #dbdbdb;
      border-radius: 4px;
    }

    &__button_submit {
      margin: 15px 0px 0px;
      width: 141px;
      height: 41px;
      background-color: $darkBlue;
      border-radius: 21px;
      color: white;
    }
  }
}

.message {
  position: relative;

  &_received {
    margin: 20px;
    display: flex;
    align-items: flex-start;
  }

  &_answered {
    @extend .message_received;
    justify-content: flex-end;
  }

  &__break-line {
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    margin: 0;
    white-space: nowrap;

    &:before {
      content: "";
      display: inline-block;
      position: relative;
      top: -1px;
      width: 39.5%;
      height: 1px;
      vertical-align: middle;
      background: white;
    }

    &:after {
      content: "";
      display: inline-block;
      position: relative;
      top: -1px;
      width: 39.5%;
      height: 1px;
      vertical-align: middle;
      background: white;
    }

    & > .date {
      margin: 0;
      padding: 0;
      width: 20%;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
    }
  }

  &__window {
    margin: 0 16px;
    padding: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: #f1f3f5;
    border-radius: 5px;

    & > .text {
      margin: 0;
    }
  }
  &__window-popup {
    width: 0;
    height: 0;
    top: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f1f3f5;
    position: absolute;

    &_left {
      @extend .message__window-popup;
      left: 10px;
    }

    &_right {
      @extend .message__window-popup;
      right: 10px;
    }
  }
}
