.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: $grey;

  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
  }
}
