$grey: #c4c4c4;
$darkGrey: #a2a9b7;
$lightGrey: #e8ebed;
$orange: #ffaa87;
$yellow: #febf26;
$lightBlue: #90bce8;
$red: #f55e62;
$purple: #c7abd4;
$lightGreen: #e3ebd3;
$darkBlue: #0f54b9;
$fixContentHeight: 155px;
